<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ehb.vanlooy.dimitri.w_app2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForecastListActivity"
            android:label="@string/title_forecast_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForecastDetailActivity"
            android:label="@string/title_forecast_detail"
            android:parentActivityName=".ForecastListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.ehb.vanlooy.dimitri.w_app2.ForecastListActivity" />
        </activity>
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".FavoriteWeatherActivity"></activity>
    </application>

</manifest>